// Place all the styles related to the tomatoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//////////////////////GLOBAL/////////////////////
li {
  list-style: none;
}
//////////////////////HEADING/////////////////////
#user_nav {
  margin-top: 10px;
}

#todomoro {
  margin-top: 30px;
}

#stats {
  margin-top: 22px;
}

.stat {
  padding: 8px 18px;
  margin: 0 2px;
}

.stat_text {
  text-align: center;
}
//////////////////////COUNTDOWN/////////////////////
#countdown {
  text-align: center;
  font-size: 100px;
}

//////////////////////TASKS/////////////////////
#new_entry_name {
  display: inline;
  width: 78%;
  margin-right: 9%;
}

.task_li {
  margin: 17px 0;
}

.label {
  width: 33px;
  border-radius: 5px;
  margin-right: 18px;
}

.fa-stack {
  margin-right: 10px;
}

.x-mark {
  margin-top: -10px;
  cursor: pointer;
}
